{{- if and .Values.serviceAccount.create .Values.global.usageStats.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "glassflow-etl.usageStatsServiceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "glassflow-etl.labels" . | nindent 4 }}
    app.kubernetes.io/component: usage-stats
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-11"
    "helm.sh/hook-delete-policy": before-hook-creation
automountServiceAccountToken: true
{{- end }}
