apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "glassflow-etl.fullname" . }}-secret-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "glassflow-etl.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - update
  - patch
  - delete
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "glassflow-etl.fullname" . }}-secret-manager-binding
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "glassflow-etl.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "glassflow-etl.fullname" . }}-secret-manager
subjects:
- kind: ServiceAccount
  name: {{ include "glassflow-etl.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
