apiVersion: v1
kind: ConfigMap
metadata:
  name: glassflow-api-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "glassflow-etl.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
data:
  GLASSFLOW_LOG_FILE_PATH: "/tmp/logs/glassflow"
  GLASSFLOW_NATS_SERVER: "{{ .Values.global.nats.address | default (printf "nats://%s-nats.%s.svc.cluster.local:4222" .Release.Name .Release.Namespace) }}"
  GLASSFLOW_LOG_LEVEL: "{{ .Values.api.logLevel }}"
  GLASSFLOW_RUN_LOCAL: "false"
  GLASSFLOW_K8S_NAMESPACE: "{{ .Release.Namespace }}"
  GLASSFLOW_OTEL_SERVICE_NAME: "glassflow-api"
  GLASSFLOW_OTEL_SERVICE_NAMESPACE: "{{ .Release.Namespace }}"
  GLASSFLOW_OTEL_SERVICE_VERSION: "{{ .Values.api.image.tag }}"
  GLASSFLOW_OTEL_LOGS_ENABLED: "{{ .Values.global.observability.logs.enabled }}"
  GLASSFLOW_OTEL_METRICS_ENABLED: "{{ .Values.global.observability.metrics.enabled }}"
  OTEL_EXPORTER_OTLP_ENDPOINT: "http://{{ .Release.Name }}-otel-collector.{{ .Release.Namespace }}.svc.cluster.local:4318"
