apiVersion: v1
kind: ConfigMap
metadata:
  name: glassflow-ui-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "glassflow-etl.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
data:
  NEXT_PUBLIC_API_URL: "http://{{ .Release.Name }}-api.{{ .Release.Namespace }}.svc.cluster.local:8081"
  NEXT_PUBLIC_IN_DOCKER: "false"
  NEXT_PUBLIC_ANALYTICS_ENABLED: "{{ .Values.global.usageStats.enabled }}"
  NEXT_PUBLIC_AUTH0_ENABLED: "{{ .Values.ui.auth0.enabled }}"
  AUTH0_ENABLED: "{{ .Values.ui.auth0.enabled }}"
  NEXT_PUBLIC_OTEL_LOGS_ENABLED: "{{ .Values.global.observability.logs.enabled }}"
  NEXT_PUBLIC_OTEL_METRICS_ENABLED: "{{ .Values.global.observability.metrics.enabled }}"
  NEXT_PUBLIC_OTEL_SERVICE_NAME: "glassflow-ui"
  NEXT_PUBLIC_OTEL_SERVICE_VERSION: "{{ .Values.ui.image.tag }}"
  NEXT_PUBLIC_OTEL_SERVICE_NAMESPACE: "{{ .Release.Namespace }}"
  NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT: "http://{{ .Release.Name }}-otel-collector.{{ .Release.Namespace }}.svc.cluster.local:4318"
  NEXT_PUBLIC_LOG_LEVEL: "{{ .Values.ui.logLevel }}"
  {{- if .Values.ui.auth0.enabled }}
  NEXT_PUBLIC_PROFILE_ROUTE: "{{ .Values.ui.auth0.profileRoute | default "/api/auth/me" }}"
  AUTH0_SECRET: "{{ .Values.ui.auth0.secret }}"
  APP_BASE_URL: "{{ .Values.ui.auth0.appBaseUrl }}"
  AUTH0_DOMAIN: "{{ .Values.ui.auth0.domain }}"
  AUTH0_ISSUER_BASE_URL: "{{ .Values.ui.auth0.issuerBaseUrl }}"
  AUTH0_CLIENT_ID: "{{ .Values.ui.auth0.clientId }}"
  AUTH0_CLIENT_SECRET: "{{ .Values.ui.auth0.clientSecret }}"
  {{- end }}
  {{- if .Values.ui.kafkaGateway.enabled }}
  KAFKA_GATEWAY_URL: "http://localhost:{{ .Values.ui.kafkaGateway.port }}"
  {{- end }}

